{% extends 'base.html' %}

{% block content %}

<div class="card shadow">

    <div class="card-body">

        <h2>

            My Profile

        </h2>

        <hr>

        <p>

            Username:

            {{ request.user.username }}

        </p>

        <p>

            Email:

            {{ request.user.email }}

        </p>

        {% if profile.profile_picture %}

        <img
            src="{{ profile.profile_picture.url }}"
            width="150"
            class="img-thumbnail">

        {% endif %}

        <form
            method="POST"
            enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                class="btn btn-primary">

                Save Profile

            </button>

        </form>

    </div>

</div>

{% endblock %}