{% extends 'base.html' %}

{% block content %}

<h2>

Recurring Expenses

</h2>

<a

href="/recurring/add/"

class="btn btn-primary mb-3">

Add Recurring Expense

</a>

<div class="table-responsive">

    <table class="table">

        <tr>

            <th>Name</th>

            <th>Amount</th>

            <th>Frequency</th>

        </tr>

        {% for expense in expenses %}

        <tr>

            <td>{{ expense.name }}</td>

            <td>${{ expense.amount }}</td>

            <td>{{ expense.frequency }}</td>

        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}